#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 2rem;
  text-align: center;
  gap: 1rem;
}

.switch {
  padding: 2rem;
}

.switch-doing {
  padding: 2rem;
  font-size: 3rem;
  color: green;
  span {
    color: #007bff;
  }
}

.switch-doing[data-is-doing="is-doing"] {
  color: orange;
}

.resting {
  color: orange;
  font-size: 2rem;
  font-weight: bold;
}

.doing-blinker {
  color: green;
  font-size: 2rem;
  font-weight: bold;
  animation: blinker 1s linear infinite alternate;
  span {
    color: #007bff;
  }
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.gray {
  color: gray;
}
.text-left {
  text-align: left;
}

.table {
  max-height: 100vh;
  overflow-y: auto;
  background-color: rgba(128, 128, 128, 0.1);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  position: relative;
  padding-bottom: 0.5rem;
  .row {
    display: grid;
    grid-template-columns: repeat(var(--colums), 1fr);
    gap: 0.5rem;
    background-color: hsl(0 50 100 / 0.05);
    > div {
      align-content: center;
      padding-inline: 4px;
      background-color: hsl(0 50 100 / 0.05);
    }
  }
  .row:first-child {
    color: gray;
    position: sticky;
    top: 0;
    background-color: hsl(0 0 20);
    align-content: center;
  }
  .row-sum-line {
    color: gray;
    position: sticky;
    top: 0;
    background-color: hsl(0 0 20);
    align-content: center;
  }
}

.sum-times {
  display: contents;
  --colums: 2;
}

.do-times {
  display: contents;
  --colums: 4;
}

.delete-times {
  margin-block-start: 10rem;
  color: red;
  padding: 1rem;
  font-size: 1.5rem;
  span {
    color: #007bff;
  }
}
